<body>
  <h1>MarketMe</h1>
  <a class="btn" id="search-again" href="/">Reprocess</a>

  <div class="tone-section">
    <h2>General Tones</h2>
    <div>
      {{#if report.analytical}}
        <h3 class="present-tone">Analytical</h3>
      {{else}}
        <h3>Analytical</h3>
      {{/if}}
      {{#if report.confident}}
        <h3 class="present-tone">Confident</h3>
      {{else}}
        <h3>Confident</h3>
      {{/if}}
      {{#if report.tentative}}
        <h3 class="present-tone">Tenntative</h3>
      {{else}}
        <h3>Tentative</h3>
      {{/if}}
    </div>
    <div>
      {{#if report.anger}}
        <h3 class="present-tone">Anger</h3>
      {{else}}
        <h3>Anger</h3>
      {{/if}}
      {{#if report.fear}}
        <h3 class="present-tone">Fear</h3>
      {{else}}
        <h3>Fear</h3>
      {{/if}}
      {{#if report.joy}}
        <h3 class="present-tone">Joy</h3>
      {{else}}
        <h3>Joy</h3>
      {{/if}}
      {{#if report.sadnesss}}
        <h3 class="present-tone">Sadness</h3>
      {{else}}
        <h3>Sadness</h3>
      {{/if}}
    </div>
  </div>

  <div class="keyword-section">
    <h2>Top Keywords and Relevance</h2>
    <div>
      <div>
        <h3>{{report.keywords.one}}</h3>
        <h3>{{report.keywords.two}}</h3>
        <h3>{{report.keywords.three}}</h3>
      </div>
      <div>
        <h3>{{report.key_rel.one}}</h3>
        <h3>{{report.key_rel.two}}</h3>
        <h3>{{report.key_rel.three}}</h3>
      </div>
    </div>
  </div>

  <div class="post-section">
    <h2>Top Posts</h2>
  </div>
</body>