<body>
  <div class="header-section">
    <a class="logo" href="/"><h1>MarketMe</h1></a>
    <a class="btn btn-dark" id="search-again" href="/">New Search</a>
  </div>

  <div class="tone-section">
    <h2>General Tones</h2>
    <div>
      {{#if report.analytical}}
        <h3 class="present-tone">Analytical</h3>
      {{else}}
        <h3>Analytical</h3>
      {{/if}}
      {{#if report.confident}}
        <h3 class="present-tone">Confident</h3>
      {{else}}
        <h3>Confident</h3>
      {{/if}}
      {{#if report.tentative}}
        <h3 class="present-tone">Tentative</h3>
      {{else}}
        <h3>Tentative</h3>
      {{/if}}
    </div>
    <div>
      {{#if report.anger}}
        <h3 class="present-tone">Anger</h3>
      {{else}}
        <h3>Anger</h3>
      {{/if}}
      {{#if report.fear}}
        <h3 class="present-tone">Fear</h3>
      {{else}}
        <h3>Fear</h3>
      {{/if}}
      {{#if report.joy}}
        <h3 class="present-tone">Joy</h3>
      {{else}}
        <h3>Joy</h3>
      {{/if}}
      {{#if report.sadnesss}}
        <h3 class="present-tone">Sadness</h3>
      {{else}}
        <h3>Sadness</h3>
      {{/if}}
    </div>
  </div>

  <div class="keyword-section">
    <h2>Top Keywords and Relevance</h2>
    <div>
      <div>
        <h3>{{report.keywords.one}}</h3>
        <h3>{{report.keywords.two}}</h3>
        <h3>{{report.keywords.three}}</h3>
      </div>
      <div>
        <h3>{{report.key_rel.one}}</h3>
        <h3>{{report.key_rel.two}}</h3>
        <h3>{{report.key_rel.three}}</h3>
      </div>
    </div>
  </div>

  <div class="post-section">
    <h2>Top Posts</h2>
    <a href={{report.posts.one.id}}>
      <div class="post-desc">
        <h3>{{report.posts.one.title}}</h3>
      </div>
    </a>
    <a href={{report.posts.two.id}}>
      <div class="post-desc">
        <h3>{{report.posts.two.title}}</h3>
      </div>
    </a>
    <a href={{report.posts.three.id}}>
      <div class="post-desc">
        <h3>{{report.posts.three.title}}</h3>
      </div>
    </a>
    <a href={{report.posts.four.id}}>
      <div class="post-desc">
        <h3>{{report.posts.four.title}}</h3>
      </div>
    </a>
    <a href={{report.posts.five.id}}>
      <div class="post-desc">
        <h3>{{report.posts.five.title}}</h3>
      </div>
    </a>
    <a href={{report.posts.six.id}}>
      <div class="post-desc">
        <h3>{{report.posts.six.title}}</h3>
      </div>
    </a>
    <a href={{report.posts.seven.id}}>
      <div class="post-desc">
        <h3>{{report.posts.seven.title}}</h3>
      </div>
    </a>
    <a href={{report.posts.eight.id}}>
      <div class="post-desc">
        <h3>{{report.posts.eight.title}}</h3>
      </div>
    </a>
    <a href={{report.posts.nine.id}}>
      <div class="post-desc">
        <h3>{{report.posts.nine.title}}</h3>
      </div>
    </a>
    <a href={{report.posts.ten.id}}>
      <div class="post-desc">
        <h3>{{report.posts.ten.title}}</h3>
      </div>
    </a>
  </div>
</body>